$background: #f3f9ff;
$light: #ffffff;
$primary: #2e2e2e;
$secondary: #384e6d;
$button-primary: #2c2b2b;
$button-secondary: #102b65;

$headings-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$body-font-family: Arial, Helvetica, sans-serif;
